.container {
	align-items: center;
	background: var(--background-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1440px;
	min-height: 100vh;
	padding: 30px 0;
}

.headerTitle {
	width: 700px;
	border: 3px solid gray;
	border-radius: 15px;
	padding: 16px;
	display: flex;
	justify-content: space-between;
}

.scoreSection {
	display: flex;
	gap: 5px;
}
