@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=JetBrains+Mono:wght@700&display=swap');

.container {
	align-items: center;
	background: var(--background-color);
	display: flex;
	flex-direction: column;
	font-family: 'Barlow Semi Condensed', sans-serif;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1440px;
	min-height: 100vh;
	min-width: 320px;
	padding: 2rem 0;
}

.headerSection {
	align-items: center;
	border: 3px solid var(--header-outline);
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	/* 10px@375px to 16px@550px */
	padding: clamp(0.625rem, -0.1786rem + 3.4286vw, 1rem);
	/* 311px@375px to 700px@800px */
	width: clamp(19.4375rem, -2.0147rem + 91.5294vw, 43.75rem);
}

.scoreSection {
	display: flex;
	gap: 5px;
}

.footer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	gap: 12px;
	padding-right: 32px;
}

/* center button on small screens */
@media (max-width: 601px) {
	.footer {
		justify-content: space-evenly;
		padding: 0;
	}
}
