* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-weight: var(--normal);
}

:root {
	--background-color: radial-gradient(circle at top, #1f3756, #141539);

	/* colors */
	--score-blue: #2a46c0;
	--dark-text: #3b4363;
	--header-outline: #606e85;
	--background-icon: #efefef;

	/* gradients */
	--paper-gradient: linear-gradient(#5671f5, #4865f4);
	--scissors-gradient: linear-gradient(#eca922, #ec9e0e);
	--rock-gradient: linear-gradient(#dd405d, #dc2e4e);

	/* shadows */
	--paper-shadow: #2a45c2;
	--scissors-shadow: #c76c1b;
	--rock-shadow: #9d1634;
	--inset-shadow: inset 0 8px 0 0 #babfd4;

	/* font weights */
	--bold: 700;
	--normal: 600;
}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1366px

## Colors

### Primary

- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Spock Gradient: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)
*/
