.mainBoard {
	display: flex;
	flex-wrap: wrap;
	/* 50px@375px to 74px@500px */
	gap: clamp(3.125rem, -1.375rem + 19.2vw, 4.625rem);
	justify-content: space-between;
}

.playerSection {
	align-items: center;
	display: flex;
	flex-direction: column;
	/* 17px@375px to 63px@500px */
	gap: clamp(1.0625rem, -7.5625rem + 36.8vw, 3.9375rem);
}

@media (max-width: 450px) {
	.playerSection {
		flex-direction: column-reverse;
	}
}

.playerTitle {
	color: #fff;
	/* 15px@375px to 24px@500px */
	font-size: clamp(0.9375rem, -0.75rem + 7.2vw, 1.5rem);
	font-weight: var(--bold);
	text-shadow: 0 3px 3px #00000030;
}

.spaceCircle {
	align-items: center;
	border-radius: 50%;
	display: flex;
	/* 130px@375px to 300px@800px */
	height: clamp(8.125rem, -1.25rem + 40vw, 18.75rem);
	justify-content: center;
	/* 130px@375px to 300px@800px */
	width: clamp(8.125rem, -1.25rem + 40vw, 18.75rem);
}

.circle {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: circleAnm;
	background-color: #0000001a;
	border-radius: 50%;
	/* 110px@375px to 224px@800px */
	height: clamp(6.875rem, 0.5882rem + 26.8235vw, 14rem);
	margin: 0 auto;
	/* 110px@375px to 224px@800px */
	width: clamp(6.875rem, 0.5882rem + 26.8235vw, 14rem);
}

@keyframes circleAnm {
	0% {
		background-color: #0000001a;
	}
	40% {
		background-color: #00000033;
		scale: 0.9;
	}
	80% {
		background-color: #0000001a;
	}
}

/* RESULT */
.resultSection {
	align-items: center;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.resultLabel {
	color: #fff;
	font-size: 56px;
	font-weight: var(--bold);
}

.btnPlayAgain {
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	height: 48px;
	letter-spacing: 2.5px;
	width: 220px;
}

.btnPlayAgain:hover {
	color: #db2e4d;
}

@media (max-width: 985px) {
	.resultSection {
		margin: 0 auto;
		order: 3;
	}
}
