.mainBoard {
	display: flex;
	/* 50px@375px to 74px@500px */
	gap: clamp(3.125rem, -1.375rem + 19.2vw, 4.625rem);
	justify-content: space-between;
}

.playerSection {
	align-items: center;
	display: flex;
	flex-direction: column;
	/* 17px@375px to 63px@500px */
	gap: clamp(1.0625rem, -7.5625rem + 36.8vw, 3.9375rem);
}

@media (max-width: 450px) {
	.playerSection {
		flex-direction: column-reverse;
	}
}

.playerTitle {
	color: #fff;
	/* 15px@375px to 24px@500px */
	font-size: clamp(0.9375rem, -0.75rem + 7.2vw, 1.5rem);
	font-weight: var(--bold);
	text-shadow: 0 3px 3px #00000030;
}

.spaceCircle {
  display: flex;
  justify-content: center;
  align-items: center;
	width: 293px;
	/* 130px@375px to 300px@500px */
	width: clamp(8.125rem, -23.75rem + 136vw, 18.75rem);

  height: 300px;
	border: 1px dashed plum;
  border-radius: 50%;
}

.circle {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: circleAnm;

	background-color: #0000001a;
	border-radius: 50%;
	/* 110px@375px to 224px@500px */
	height: clamp(6.875rem, -14.5rem + 91.2vw, 14rem);
	/* 110px@375px to 224px@500px */
	margin: 0 auto;
	width: clamp(6.875rem, -14.5rem + 91.2vw, 14rem);
}

@keyframes circleAnm {
	0% {
		background-color: #0000001a;
	}
	40% {
		background-color: #00000033;
		scale: 0.9;
	}
	80% {
		background-color: #0000001a;
	}
}

/* user items */

.userItem {
	width: 300px;
	height: 300px;
	background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconSection {
  width: 224px;
  height: 224px;
  background-color: var(--background-icon);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}