
.footerButton {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 8px;
	color: #fff;
	display: block;
	font-size: 1rem;
	height: 40px;
	letter-spacing: 2.5px;
	outline: none;
	width: 128px;
}

.footerButton:hover {
	background-color: #fff;
	color: var(--dark-text);
}