.shadow {
	border-radius: 50%;
	/* 130px@375px to 300px@800px */
	height: clamp(8.125rem, -1.25rem + 40vw, 18.75rem);
	/* 130px@375px to 300px@800px */
	width: clamp(8.125rem, -1.25rem + 40vw, 18.75rem);
}

.shadowWinner {
	box-shadow: 0 0 0 60px #ffffff0d, 0 0 0 130px #ffffff0d, 0 0 0 200px #ffffff0d;
}

@media (max-width: 800px) {
	.shadowWinner {
		box-shadow: 0 0 0 40px #ffffff0d, 0 0 0 86px #ffffff0d,
			0 0 0 132px #ffffff0d;
	}
}

@media (max-width: 400px) {
	.shadowWinner {
		box-shadow: 0 0 0 20px #ffffff0d, 0 0 0 65px #ffffff0d,
			0 0 0 100px #ffffff0d;
	}
}

.item {
	align-items: center;
	border-radius: 50%;
	display: flex;
	/* 130px@375px to 300px@800px */
	height: clamp(8.125rem, -1.25rem + 40vw, 18.75rem);
	justify-content: center;
	position: relative;
	/* 130px@375px to 300px@800px */
	width: clamp(8.125rem, -1.25rem + 40vw, 18.75rem);
	z-index: 1;
}

.item3dEffect {
	border-radius: 50%;
	box-shadow: 0 2px 4px 0 #00000080;
	/* 130px@375px to 300px@800px */
	height: clamp(8.125rem, -1.25rem + 40vw, 18.75rem);
	position: relative;
	/* -120px@375px to -290px@800px */
	top: calc(clamp(7.5rem, -1.875rem + 40vw, 18.125rem) * -1);
	/* 130px@375px to 300px@800px */
	width: clamp(8.125rem, -1.25rem + 40vw, 18.75rem);
	z-index: 0;
}

.iconSection {
	align-items: center;
	background-color: var(--background-icon);
	border-radius: 50%;
	box-shadow: inset 0 11px 0 0 #babfd4;
	display: flex;
	/* 100px@375px to 224px@800px */
	height: clamp(6.25rem, -0.5882rem + 29.1765vw, 14rem);
	justify-content: center;
	/* 100px@375px to 224px@800px */
	width: clamp(6.25rem, -0.5882rem + 29.1765vw, 14rem);
}

@media (max-width: 800px) {
	.icon {
		width: 55%;
		height: auto;
	}
}

/* items colors */

/* rock */
.rockItem {
	background: var(--rock-gradient);
}

.rock3d {
	background-color: var(--rock-shadow);
}

/* paper */
.paperItem {
	background: var(--paper-gradient);
}

.paper3d {
	background-color: var(--paper-shadow);
}

/* scissors */
.scissorsItem {
	background: var(--scissors-gradient);
}

.scissors3d {
	background-color: var(--scissors-shadow);
}

/* lizard */
.lizardItem {
	background: var(--lizard-gradient);
}

.lizard3d {
	background-color: var(--lizard-shadow);
}

/* spock */
.spockItem {
	background: var(--spock-gradient);
}

.spock3d {
	background-color: var(--spock-shadow);
}
