.mainBoard {
	/* border: 1px dashed plum; */
	background: url('../../../../../public/rock-paper-scissors/board/bg-triangle.svg');
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: space-between;
	/* 312px@375px to 476px@500px */
	width: clamp(19.5rem, -11.25rem + 131.2vw, 29.75rem);
}

.upperSection {
	display: flex;
	justify-content: space-between;
}

.lowerSection {
	display: flex;
	justify-content: center;
}
