@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

.container {
	max-width: 1440px;
	margin: 0 auto;
	min-height: 100vh;
	background-color: var(--background);
	display: flex;
	justify-content: center;
	align-items: center;
}