:root {
	/* color */
	--background: #0e0e14;
	--dark-gray: #24232c;
	--gray: #817d92;
	--light-gray: #e6e5ea;
	--light-gray-t: #e7e6eb40;
	--green: #a4ffaf;

	/* values */
	--padding: clamp(1rem, -0.7273rem + 7.2727vw, 2rem);

	/* strengthLevel */
	--level-red: #f64a4a;
	--level-orange: #fb7c58;
	--level-yellow: #f8cd65;
	--level-green: var(--green);
}
