.main {
	background-color: #f3f3f3;
	margin: 0 auto;
	max-width: 1440px;
	min-height: 100vh;
	padding: 30px;
}

.title {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
}

.list {
	background: #fff;
	border-radius: 25px;
	box-shadow: 0 0 5px 0 #333;
	margin: 50px auto;
	padding: 25px;
	width: 60%;
}

.link {
	color: #111;
	font-size: 1.2rem;
	line-height: 2.5rem;
}

.link:hover {
	color: blue;
}
