.passFieldSection {
	align-items: center;
	background-color: var(--dark-gray);
	display: flex;
	justify-content: space-between;
	padding: var(--padding-desktop);
}

.passEmpty {
	color: var(--light-gray-t);
	font-size: 2rem;
}

.passActive {
	color: var(--light-gray);
	font-size: 2rem;
}

.btnCopiedSection {
	display: flex;
	gap: 17px;
}

.copied {
	color: var(--green);
	font-size: 1.125rem;
}
