.passFieldSection {
	align-items: center;
	background-color: var(--dark-gray);
	display: flex;
	justify-content: space-between;
	padding: var(--padding-desktop);
}

.passEmpty {
	color: var(--light-gray-t);
	font-size: 2rem;
}

.passActive {
	color: var(--light-gray);
	font-size: 2rem;
}

.btnCopiedSection {
	display: flex;
	gap: 17px;
}

.copied {
	color: var(--green);
	font-size: 1.125rem;
}

.btnCopy {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.btnCopy:hover svg path {
	fill: var(--light-gray);
}

.btnCopy:focus svg path {
	fill: var(--green);
}

.btnCopy:disabled {
	cursor: not-allowed;
}

.btnCopy:disabled svg path{
	fill: var(--background);
}