.itemShadow {
	border-radius: 50%;
	/* 130px@375px to 198px@500px */
	width: clamp(8.125rem, -4.625rem + 54.4vw, 12.375rem);
	/* 130px@375px to 198px@500px */
	height: clamp(8.125rem, -4.625rem + 54.4vw, 12.375rem);
	transition: 0.8s;
	/* 145 249 */
}

.itemShadow:hover {
	box-shadow: 0 0 10px 0 #ffffff0d;
	box-shadow: 0 0 0 25px #ffffff0d;
	transition: 0.4s;
}

.btnSection {
	align-items: center;
	border: none;
	border-radius: 50%;
	display: flex;
	/* 130px@375px to 198px@500px */
	height: clamp(8.125rem, -4.625rem + 54.4vw, 12.375rem);
	justify-content: center;
	position: relative;
	top: -5px;
	/* -4px@375px to -9px@500px */
	/* top: clamp(-0.25rem, 0.6875rem + -4vw, -0.5625rem); */
	/* 130px@375px to 198px@500px */
	width: clamp(8.125rem, -4.625rem + 54.4vw, 12.375rem);
	z-index: 1;
}

.item3dEffect {
	border-radius: 50%;
	box-shadow: 0 3px 3px 0 #00000032;
	/* 130px@375px to 198px@500px */
	height: clamp(8.125rem, -4.625rem + 54.4vw, 12.375rem);
	position: relative;
	/* 133px@375px to 198px@500px */
	/* top: calc(clamp(8.3125rem, -3.875rem + 52vw, 12.375rem) * -1); */
	top: -194px;
	/* 130px@375px to 198px@500px */
	width: clamp(8.125rem, -4.625rem + 54.4vw, 12.375rem);
	z-index: 0;
	background-color: red;
}

.iconSection {
	align-items: center;
	background-color: var(--background-icon);
	border-radius: 50%;
	box-shadow: var(--inset-shadow);
	display: flex;
	/* 100px@375px to 152px@500px */
	height: clamp(6.25rem, -3.5rem + 41.6vw, 9.5rem);
	justify-content: center;
	/* 100px@375px to 152px@500px */
	width: clamp(6.25rem, -3.5rem + 41.6vw, 9.5rem);
}

@media (max-width: 500px) {
	.icon {
		height: auto;
		width: 50%;
	}
}

/* individual styles */
/* paper */
.paperBtn {
	background: var(--paper-gradient);
}

.paperEffect {
	background-color: var(--paper-shadow);
}

/* scissors */
.scissorsBtn {
	background: var(--scissors-gradient);
}

.scissorsEffect {
	background-color: var(--scissors-shadow);
}

/* rock */
.rockBtn {
	background: var(--rock-gradient);
}

.rockEffect {
	background-color: var(--rock-shadow);
}
