.itemShadow {
	align-items: center;
	background-color: none;
	border-radius: 50%;
	display: flex;
	height: 249px;

	/* 155px@375px to 249px@500px */
	height: clamp(9.6875rem, -7.9375rem + 75.2vw, 15.5625rem);

	justify-content: center;
	transition: background-color 0.4s;
	width: 240px;
	/* 150px@375px to 240px@500px */
	width: clamp(9.375rem, -7.5rem + 72vw, 15rem);
}

.itemShadow:hover {
	background-color: #ffffff0d;
	transition: background-color 0.4s;
}

.btnSection {
	align-items: center;
	border: none;
	border-radius: 50%;
	display: flex;
	/* 130px@375px to 198px@500px */
	height: clamp(8.125rem, -4.625rem + 54.4vw, 12.375rem);
	justify-content: center;
	position: relative;
	top: -9px;
	/* -4px@375px to -9px@500px */
	/* top: clamp(-0.25rem, 0.6875rem + -4vw, -0.5625rem); */

	/* 130px@375px to 198px@500px */
	width: clamp(8.125rem, -4.625rem + 54.4vw, 12.375rem);
	z-index: 1;
}

.button3dEffect {
	border-radius: 50%;
	box-shadow: 0 3px 3px 0 #00000032;
	height: 198px;
	/* 130px@375px to 198px@500px */
	height: clamp(8.125rem, -4.625rem + 54.4vw, 12.375rem);
	position: relative;
	top: 9px;
	/* 4px@375px to 9px@500px */
	top: clamp(0.25rem, -0.6875rem + 4vw, 0.5625rem);
	width: 198px;
	z-index: 0;

	width: clamp(8.125rem, -4.625rem + 54.4vw, 12.375rem);
	height: clamp(8.125rem, -4.625rem + 54.4vw, 12.375rem);
}

.iconSection {
	align-items: center;
	background-color: var(--background-icon);
	border-radius: 50%;
	box-shadow: var(--inset-shadow);
	display: flex;
	/* 100px@375px to 152px@500px */
	height: clamp(6.25rem, -3.5rem + 41.6vw, 9.5rem);
	justify-content: center;
	/* 100px@375px to 152px@500px */
	width: clamp(6.25rem, -3.5rem + 41.6vw, 9.5rem);
}

@media (max-width: 500px) {
	.icon {
		height: auto;
		width: 50%;
	}
}

/* individual styles */

/* paper */
.paperBtn {
	background: var(--paper-gradient);
}

.paperEffect {
	background-color: var(--paper-shadow);
}

/* scissors */
.scissorsBtn {
	background: var(--scissors-gradient);
}

.scissorsEffect {
	background-color: var(--scissors-shadow);
}

/* rock */
.rockBtn {
	background: var(--rock-gradient);
}

.rockEffect {
	background-color: var(--rock-shadow);
}
